.Frame {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.MenuToggleButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99900000;
  background: rgba(255, 255, 255, 1);
  border: none;
  color: black;
  padding: 10px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
.MobileChatMode {
  display: none;
}
@media (min-width: 1025px) {
  .MenuToggleButton {
    display: block;
  }
}

.outlet {
  width: 100%;
  overflow: auto;
  height: 100%;
  transition: margin-left 0.3s ease;
}

.BottomNavigation {
  position: fixed;
  left: -240px;
  top: 0;
  height: 100vh;
  width: 240px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
  transition: left 0.3s ease;
}

.ShowSidebar {
  left: 0;
}

@media (max-width: 1024px) {
  .Frame {
    flex-direction: column;
  }

  .outlet {
    width: 100%;
    overflow: auto;
    height: 100%;
  }

  .MenuToggleButton,
  .BottomNavigation {
    display: inline;
  }
}
