.Frame {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: white;
    align-items: center;
    justify-content: center;
}

.ProfileArea {
    position: relative;
    display: flex;
}

.EditButton {
    display: flex;
    cursor: pointer;
    align-self: flex-end;
}

.Profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 60%;
}

.UserProfilesDetails {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 20px;
}

.UserProfilesDetails span:nth-child(2) {
    font-weight: normal;
    font-size: 15px;
}

.Profile img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

form {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.inputGroup {
    width: 100%;
    display: flex;
    background-color: transparent;
    border: 1px solid white;
    height: 50px;
    border-radius: 20px;
    align-items: center;
    color: black;
    margin-bottom: 10px;
}

.inputGroup input {
    border: none;
    outline: none;
    padding-left: 15px;
    width: 100%;
    height: 48px;
    color: white;
    border-radius: 20px;
    background-color: transparent;
}

.inputGroup input::placeholder {
    color: white;
}

.inputGroup i {
    padding-right: 10px;
    color: white;
}

form button {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
}

.UpdateProfile {
    background-color: white;
    color: black;
}

.Errors {
    color: red;
}

@media (max-width: 1024px) {


    .Profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }

    form {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 600px) {}